<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>761115423237-ou6i6ng0u8a4ku67ut51q3i84l3tqhf8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761115423237-ou6i6ng0u8a4ku67ut51q3i84l3tqhf8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>761115423237-7564jks91g06c64ksqv10h39keqaci3b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBYuuAsR88u1VP-WBRrd7dNSXfqi9cUFnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>761115423237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.exercise8</string>
	<key>PROJECT_ID</key>
	<string>xintong-spring2025</string>
	<key>STORAGE_BUCKET</key>
	<string>xintong-spring2025.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761115423237:ios:0d24613649a957a4f4626c</string>
</dict>
</plist>